.container {
  margin: 30px;
  max-width: 420px;
  background: #a4d3ff;
  padding: 24px;
  border-radius: 12px;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.5),
    0 10px 20px rgba(0, 0, 0, 0.25);
}
.container h4 {
  margin-bottom: 16px;
}
